/*GENERAL form */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px var(--second-background-color) inset;
  -webkit-text-fill-color: var(--second-complementary-color) !important;
}


.form {
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    color: var(--second-complementary-color);
    width: 100%;
    border-top: var(--second-complementary-color) solid 1px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field span{
    font-size: 2.5rem;
}

.form * {
    margin: 8px 0;
}

.form button {
    background-color: var(--third-complementary-color);
    padding: 8px 10px;
    border-radius: 12px;
    border: var(--primary-background-color) 2px solid;
}

.form .field {
    width: 80%;
}

.form input {
    background-color: var(--second-background-color);
    height: 30px;
    border-radius: 10px;
    border: var(--second-complementary-color) solid 1px;
    color: var(--second-complementary-color);
}

.form .submit-button{
    display: flex;
    justify-content: flex-end;  
    width: 75%;
}


.form input:active{
    border: var(--third-complementary-color) 2px solid;
}

/*GENERAL error*/
.field-error{
    color: var(--color-font-error);
}
.field-error input,
.field-error textarea {
    border-color: var(--border-color-error-input);
}

.field-error p {
    background-color: var(--background-color-error-info);
    border-radius: 6px;
    font-size: 1.3rem;
    margin-top: 4px;
    padding: 3px 15px;
    text-align: left;
}

/*LOGIN form*/

.form-login a{
    color: var(--third-complementary-color);
    text-decoration: underline;
}

.form-login a:hover {
    cursor: pointer;
}

.form-login p {
    width: 90%;
}

/*UPDATE form*/

.form-update {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-update .field {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-update input,
.form-update span {
    width: 90%;
}


.form-update input[type="file"]{
    display: none;
}

.form-update #image{
    cursor: pointer;
}
