{% extends "base.html" %}

{% load static %}
{% block head_content %}
<link media="(min-width: 1440px)" rel="stylesheet" href="{% static 'css/computer/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/cellphone/forms.css' %}">
{% endblock %}

{% block container %}
    <div class="form">
        <form action=""  class="form-login-container">
            {% csrf_token  %}
    
            <label for="username" class="field username-container">
                <span class="username-container__element">Username</span>
                <input type="text" id="username" class="username-container__element">
            </label>
    
            <label for="password" class="field password-container">
                <span class="password-container__element">Password</span>
                <input type="password" id="password" class="password-container__element">
            </label>
            <button>Submit</button>
            <p>
                You haven't created an account yet. <a href="">Sign up</a>
            </p>
        </form>
    </div>
{% endblock %}