{% extends "base.html" %}

{% load static %}
{% block head_content %}
<link media="(min-width: 1440px)" rel="stylesheet" href="{% static 'css/computer/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/cellphone/forms.css' %}">
{% endblock %}

{% block container %}
    <div class="form-container form-login-container">
        <form action="{% url 'users:login' %}" method="post"  class="form form-login">
            {% csrf_token  %}
            
            {% for error in form.non_field_errors %}
            <div >
                <p>{{ error }}</p>
            </div>
            {% endfor %}

            <label for="username" class="field username-container
            {% if form.username.errors  %}
                
            {% endif %}">
                <span class="username-container__element">Username</span>
                <input type="text" id="username" name="username" class="username-container__element"
                {% if form.username.errors %}
                    value="{{ form.username.value }}"
                {% endif %}
                    >
            </label>
    
            <label for="password" class="field password-container">
                <span class="password-container__element">Password</span>
                <input type="password" id="password" name="password" class="password-container__element">
            </label>
            <div class="submit-button">
                <button>Submit</button>
            </div>

            <p>
                You haven't created an account yet. <a href="{% url 'users:signup' %}">Sign up</a>
            </p>
        </form>
    </div>
{% endblock %}